#ENVIRONMENT
ENVIRONMENT = 

#PORT
SERVER_PORT = 

# Persistence message type
PERS = 

#SQL
SQL_HOST=
SQL_USER=
SQL_DB=ecommerce
SQL_PASSWORD=

#MONGODB
MONGO_URI=

#COOKIES
COOKIE_SECRET=

#JWON WEB TOKEN
JWT_SECRET_KEY=