<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <title>Info App</title>  
</head>

  <body class="container" style="margin: 50px;">
    <h1 style="text-align: center; font-weight: bold;">Informacion de la APP</h1>
    

      <div id="Info" style="margin: 2% ;"></div>  
      <script>
        window.addEventListener('load', function() {
            function getData() {

                const response = fetch('http://localhost:3005/api/info', {
                method: 'GET', 
                mode: 'cors',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                });
                return response
            }
            
            getData()
            .then(response => response.json())
            .then(data => {
                
            const info = 
            `
                <ul>
                    <li>Argumentos de entrada: ${data.args}</li>
                    <li>Sistema operativo: ${data.process.platform}</li>
                    <li>Node version: ${data.process.version}</li>
                    <li>Path de ejecución: ${data.process.execPath}</li>
                    <li>Process ID: ${data.process.pid}</li>
                    <li>Carpeta del proyecto: ${data.process.cwd}</li>
                    <li>N° Procesadores: ${data.numberOfProcessors}</li>
                </ul>
            `;
            document.getElementById('Info').innerHTML = info;
            })
        });        
      </script>

        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
</body>

</html>